<!DOCTYPE html>
<html>
<head>
    <title>Adicionar Review</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'filmes/adicionarreview.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="page-title">Adicionar Review para {{ filme.titulo }}</h1>
        <form method="post" class="review-form" >
            {% csrf_token %}
            <label for="nota" class="form-label">Nota (1-10):</label>
            <select id="nota" name="nota" class="form-select" required>
                <option value="" disabled selected>Selecione uma nota</option>
                {% for i in "1234567891" %}
                    <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                {% endfor %}
            </select>

            
            <label for="comentario" class="form-label">Comentário:</label>
            <textarea id="comentario" name="comentario" class="form-textarea" rows="5" placeholder="Escreva seu comentário aqui..." required></textarea>
            <br>
            <button type="submit" class="submit-button">Enviar Avaliação</button>
    </form>
</body>
</html>
