<!DOCTYPE html>
<html>
<head>
    <title>Lista de Filmes</title>
</head>
<body>
    <h1>Filmes Disponíveis</h1>
    <ul>
        {% for filme in filmes %}
        <li>
            <img src="{{ filme.imagem }}" alt="{{ filme.titulo }}" style="width: 100px;">
            <a href="{% url 'detalhe_filme' filme.id %}">{{ filme.titulo }}</a>
            <p>Média das notas: 
                {% if filme.media_notas %}
                    {{ filme.media_notas|floatformat:1 }}
                {% else %}
                    Sem avaliações
                {% endif %}
            </p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
