<!DOCTYPE html>
<html>
<head>
    <title>Lista de Filmes</title>
</head>
<body>
    {% load static %}
    <link rel="stylesheet" href="{% static 'filmes/listafilmes.css' %}">
    <div class="container">
      <h1 class="page-title">Filmes Assistidos</h1>
    <!-- Link para a segunda lista de filmes -->
    <p><a class="redirect-button" href="{% url 'segunda_lista_filmes' %}">Ver Lista de Filmes ainda não asstidos</a></p>

        <ul>
            <div class="movie-list">
            {% for filme in filmes %}
                <div class="movie-item">
                    <li>
                    <!-- A imagem é um link que abre a imagem em uma nova aba -->
                    <img src="{{ filme.imagem }}" alt="{{ filme.titulo }}" class="movie-image">
                    <div class="movie-info">
                            <a class="movie-title" href="{% url 'detalhe_filme' filme.id %}">{{ filme.titulo }}</a>
                            <p class="average-rating">  Média das notas: 
                                {% if filme.media_notas %}
                                    {{ filme.media_notas|floatformat:1 }}
                                {% else %}
                                    Sem avaliações
                                {% endif %}
                            </p>
                        </div>
                        </li>
                    </div>
                {% endfor %}
            </div>
        </ul>
    </div>
</body>
</html>
